{% extends 'main/base.html' %}
{% load static %}

{% block bodycontent %}

    <!-- start banner Area -->
    <section class="relative about-banner">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Downloads
                    </h1>
                    <p class="text-white link-nav"><a href="{% url 'main:index' %}">Home </a>  <span class="lnr lnr-arrow-right"></span> Downloads</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- End content Area -->
    <section class="about-info-all section-gap">
        <div class="container">
            <div class="row">
                {% for download_entry in download_entries %}
                    <div class="col-sm-12 my-3">
                        <h3>{{ download_entry.title }}</h3>
                        <p>{{ download_entry.description }}</p>
                        <p><a target="_blank" href="{{ download_entry.url }}"></i> [{{ download_entry.file_type }}] Download</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End content Area -->

{% endblock %}

