{% extends 'main/base.html' %}
{% load static %}

{% block bodycontent %}

    <!-- start banner Area -->
    <section class="relative about-banner">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Gallery
                    </h1>
                    <p class="text-white link-nav"><a href="{% url 'main:index' %}">Home </a>  <span class="lnr lnr-arrow-right"></span> Gallery</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- End content Area -->
    <section class="about-info-all section-gap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
    </section>
    <!-- End content Area -->

{% endblock %}

