{% extends 'main/base.html' %}
{% load static %}

{% block bodycontent %}

    <!-- start banner Area -->
    <section class="relative about-banner">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Packages
                    </h1>
                    <p class="text-white link-nav"><a href="{% url 'main:index' %}">Home </a>  <span class="lnr lnr-arrow-right"></span> Packages</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->


    <!-- Start Factory Tours Area -->
    <section class="home-about-area">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-end">
                <div class="col-lg-7 col-md-12 section-gap" style="padding-left: 10%">
                    <h1>Factory Tours</h1>
                    <p>These can be booked by Families, Individuals, couples, Companies, Friends etc.</p>
                    <p>Under Factory tours, we discover how most products are manufactured, and we get a chance to interact with the manufacturers.</p>
                    <ul class="unordered-list">
                        <li>Branding Products: Billboards, Large format printing processes, Signpost/3D block letters production, </li>
                        <li>Movie set (Production), </li>
                        <li>Shoe factories, Clothes (Coats), </li>
                        <li>Furniture factories,  </li>
                        <li>Mattress factory, </li>
                        <li>Steel factories, Iron bars (Steel metals), Moulding, </li>
                        <li>Brick factory,  Kajjansi clays, </li>
                        <li>Agriculture tours (Biggest Apple, mango, sugarcane, melon,  passion farms etc.)</li>
                        <li>Tea Factory</li>
                        <li>Mukwano Factory, </li>
                        <li>Yo Kuku Chicken Factory (Biggest chicken factory in East Africa)</li>
                        <li>Sugar factory</li>
                        <li>Hydra power dams</li>
                    </ul>
                    <a class="genric-btn primary circle mt-4" href="{% url 'main:contact' %}">Contact Us</a>
                </div>
                <div class="col-lg-5 col-md-12 home-about-right no-padding">
                    <img class="img-fluid" src="{% static 'main/img/factory.jpg' %}" alt="Factory Image">
                </div>
            </div>
        </div>
    </section>


    <!-- Start Packages Area -->
    <section class="destinations-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Honeymoon Packages</h1>
                        <p>Enjoy your first time together as a married couple in heavenly bliss</p>
                    </div>
                </div>
            </div>
            <div class="row">

                {% for package in all_packages %}
                    <div class="col-lg-4">
                        <div class="single-destinations">
                            <div class="details">
                                <h4 style="width: 100%; text-align: center">{{ package.title }}</h4>
                                <ul class="unordered-list border-top border-bottom py-2">
                                    {% for package_term in all_package_terms %}
                                        {% if package_term.package == package %}
                                            <li>{{ package_term.term }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="mt-4">
                                    <h6 class="mb-3">{{ package.details }}</h6>
                                    {% for package_price in all_package_prices %}
                                        {% if package_price.package == package %}
                                            <p>
                                                {{ package_price.description }}<br>
                                                <a class="price-btn" href="#">{{ package_price.price }}</a>
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- End Packages Area -->


    <!-- Start Family Area -->
    <section class="home-about-area">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-end">
                <div class="col-lg-6 col-md-12 home-about-right no-padding">
                    <img class="img-fluid" src="{% static 'main/img/family.jpg' %}" alt="Family Image">
                </div>
                <div class="col-lg-6 col-md-12 section-gap" style="padding-left: 10%">
                    <h1>Family Packages</h1>
                    <h3 class="mt-4 mb-2">Annual Events</h3>
                    <ul class="unordered-list">
                        <li>Camp City</li>
                        <li>Kampala photo</li>
                    </ul>
                    <a class="genric-btn primary circle mt-4" href="{% url 'main:contact' %}">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

